@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
} */
/* body {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: #5256ad;
} */

.container_x {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: auto;
    background-color: white;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area {
    border: 2px dashed gray;
    background: white;
    height: auto;
    width: 100%;
    padding: 30px 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 100px;
    color: black;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: black;
    font-family: "Poppins", sans-serif;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: black;
    margin: 10px 0 15px 0;
    font-family: "Poppins", sans-serif;
}

.contentx-upload2 button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: rgb(42, 42, 42);
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

#file_name {
    padding: 15px 15px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: none;
    display: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #1fb35b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.contentx-upload {
    background: transparent;
    width: 100%;
    height: auto;
    padding: 30px 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentx-upload2 {
    background: transparent;
    width: 100%;
    height: auto;
    padding: 30px 25px 10px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}